body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}

#container-jogo{
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#grade{
	width: 320px;
	display: grid;
	grid-template-columns: auto auto auto;
}

.caixa{
	width: 105px;
	height: 105px;
	border: 3px solid darkgreen;
}

#telaInicio{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 350px;
	height: 360px;
    background-color: lightgray;
    position: absolute;
    z-index: 1;
    top: 15px;   
    border-radius: 10px;
}

#telaFim{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 350px;
	height: 360px;
	position: absolute;
	top: 15px;
	background-color: darkgray;
}

#caixa1, #caixa2, #caixa3{
	border-top: none;
}

#caixa1, #caixa4, #caixa7{
	border-left: none;
}

#caixa7, #caixa8, #caixa9{
	border-bottom: none;
}

#caixa3, #caixa6, #caixa9{
	border-right: none;
}

