#grade{
	width: 304px;
	display: grid;
	grid-template-columns: auto auto auto;
}
.caixa{
	width: 100px;
	height: 100px;
	border: 3px solid green;
}

#telaInicio{
    background-color: lightgray;
    position: absolute;
    z-index: 1;
    top: 5px;   
}

#telaFim{
	background-color: darkgray;
}

#caixa1, #caixa2, #caixa3{
	border-top: none;
}

#caixa1, #caixa4, #caixa7{
	border-left: none;
}

#caixa7, #caixa8, #caixa9{
	border-bottom: none;
}

#caixa3, #caixa6, #caixa9{
	border-right: none;
}